.was-validated .form-control:valid {
  border: 1px solid #ced4da !important;
  box-shadow: none !important;
}

.was-validated .form-control:valid,
.was-validated .form-control:invalid {
  background: none !important
}
